<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="application-area">
      <div class="page-nav">
        <div class="nav-content common-w clearfix">
          <a href="/" class="logo-container float-l"></a>
          <ul class="nav__menu float-r clearfix">
            <li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
            <li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
            <li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品中心</a></li>
            <li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
            <li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
            <li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
            <li class="nav__menu_item float-l"><a href="/application_area" class="menu__item_txt active">应用领域</a></li>
          </ul>
        </div>
      </div>
      <div class="common-banner"></div>
      <div class="page-content">
        <div class="common-w clearfix">
          <div class="page_main">
            <div class="main_tab_contents">
              <div class="tab_content active">
                <div class="bread_crumb"><div class="inner">生产基地</div></div>
                <div class="base_pic"><img src="/img/application_area/1.png" alt="青海聚之源新材料有限公司"/></div>
                <br>
                <h2>（1）3C 电池。</h2>
                <p>作为家用电器上的便携式电源已被广泛的应用于摄像机、录音 机、随身听、移动电话、笔记本电脑、便携式测量仪器、小型医疗仪器、机器人、移动电源等小型轻量化电子装置及电动玩具、电动剃须刀、小手电等日用电器中，正在逐步地替代传统电源。这些小型用电器的品种在不断的出现、用户在不断地增加；锂离子电池技术将成为 21 世纪具有战略意义的军、民两用技术。</p>
                <h2>（2）动力电池</h2>
                <p>近几年，我国政府出台了相关政策对新能源汽车的发展给予支持和鼓励。新能源汽车还可以享有地方补贴和其他优惠政策。同时，政府对新能源汽车发展还提出了明确的目标——到 2020年，纯电动汽车和插电式混合动力汽车生产能力达 200万辆、累计产销量超过 500 万辆。为加大电动汽车行业的发展，国家接连出台加强新能源推广应 用的相关政策不仅免除新能源车购置税，而且政策要求各地打破 地方保护主义，建设统一开放、有序竞争的新能源汽车市场。另有第三方数据统计，以满足 农村和小城镇市场需求为主导的小型电动汽车产品的市场需求大约为1亿-1.5 亿辆。</p>
                <h2>（3）储能行业的发展</h2>
                <p>储能产业正成为当前清洁技术领域投资的风向标，被作为新兴战略性产业，列入我国“十三五”规划纲要，同时也被被科技部作为 在先进能源领域的重点解决方向。业内人士预计，随着政府对光伏产业的支持力度不断加大，也伴随着电动汽车行业的蓬勃兴起与迅猛发展，同时更基于政府新能源政策、清洁能源的导向，中国的储能产业将在近几年进入黄金发展期。在储能应用领域中，通讯基站储能在整个储能中占有重要的地位，是目前储能市场最大的组成部分，呈现较快的增长趋势，并且是由市场驱动机制带来的需求。在我国虽然目前该市场还属于起步阶段，但未来的需求量甚至会超过通信储能市场。随着现在科技的进步，信息化智能化逐步涉及到我们生活的每个细节，家庭住宅的智能化也会逐步在国内普及，所有智能化产品都是以电为依托，对电的依赖程度越高，那么对于后备电源的需求就越强烈。因此在未来的几年，家庭用储能市场一定会成为继通信储能市场外的另一大储能市场。</p>
                <h2>（4）电动自行车市场发展</h2>
                <p>近十年来，锂电电动车其以轻巧、便捷、美观、时尚为设计理念，深受广大费者的欢迎，并保持较快的增长势头，在整个全球经济振兴乏力、我国经济数据表现不理想的大背景下，电动车产业犹如耀眼的明星活跃在中国工业的舞台上，令人充满着期待与遐想。有机构调研显示，电动自行车到 2020 年保有量将达到1.6 亿辆。锂电自行车市场作为和新能源车几乎同步爆发的市场，仅此一项六氟磷酸锂的市场容量将翻番，并存在广阔的想象空间。伴随着物联网、车联网、智能穿戴等技术的迅猛发展，锂离子电 池的市场应用正在不断扩大。自2015年起，六氟磷酸锂市场需求量实现爆发式的增长，为更好的抢占发展先机，项目建设正当其时。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include footer %>
    </div>
  </body>
</html>