<!DOCTYPE html>
<html>
<head>
    <% include head %>
</head>
<body>
<div class="company-desc">
    <div class="page-nav">
        <div class="nav-content common-w clearfix">
            <a href="/" class="logo-container float-l"></a>
            <ul class="nav__menu float-r clearfix">
                <li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
                <li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt active">企业介绍</a></li>
                <li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品中心</a></li>
                <li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
                <li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
                <li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
                <li class="nav__menu_item float-l"><a href="/application_area" class="menu__item_txt">应用领域</a></li>
            </ul>
        </div>
    </div>
    <div class="common-banner"></div>
    <div class="page-content">
        <div class="common-w clearfix">
            <div class="page_side">
                <div class="side_tab_nav">
                    <a href="javascript:;" class="tab_nav_item active">企业概况</a>
                    <a href="javascript:;" class="tab_nav_item">企业介绍</a>
                    <a href="javascript:;" class="tab_nav_item">企业规划</a>
                </div>
                <% include side_contact %>
            </div>
            <div class="page_main">
                <div class="main_tab_contents">
                    <div class="tab_content active">
                        <div class="bread_crumb"><div class="inner">企业介绍 > 企业概况</div></div>
                        <img class="content_banner" src="/img/company_desc/gk.png" alt="青海聚之源新材料有限公司"/>
                        <h2>公司简介</h2>
                        <br>
                        <p>青海聚之源新材料有限公司，位于海西州柴达木循环经济试验区德令哈工业园,公司成立于2016年，注册资金15000万元人民币。项目占地225亩，总投资约9.35亿元，将建成年产6000吨高端六氟磷酸锂项目和年产1万吨高性能锂电三元正极材料项目生产线。</p>
                        <p>公司主要从事新型锂电材料的研发、生产、销售。目前，公司计划建设年产6000吨六氟磷酸锂项目及万吨级三元前驱体、高性能锂电三元正极材料。六氟磷酸锂是电池电解液最重要的组成部分。随着未来新能源领域的持续发展，六氟磷酸锂的市场需求也将持续增加。此外，锂电三元前驱体是烧结三元材料的原材料是镍钴锰的复合物，同时。锂电三元正极材料是锂离子电池中继钴酸锂之后被认为是最有应用前景的正极材料，也是决定动力型锂离子电池性能的关键材料之一。</p>
                        <p>目前，公司处于筹建阶段现有员工40多人，分属综合部、财务部、技术部、工程部四个部门，具有各类技术人近15人。总经理施宇林，美籍华人，在美国留学和工作近20年并在国内企业及外企担任高管近10年，具有丰富的企业管理和经营经验。技术工程师丁喻，教授级高工，注册咨询师，在化工和冶金设计研究院从事科研和设计工作30年，具有丰富的氟化工和锂冶炼技术经验。夏磊和蔡显威两位工程师层就业于外企近十年，并且在六氟磷酸锂的生产研发及管理方面，具有丰富的工作经验，生产方面对主制程的各个技术环节，设备仪表等都有极强的管控能力。</p>
                        <p>青海聚之源新材料有限公司作为青海省十三五规划重点项目、海西州柴达木循环经济试验区重点项目之一，为响应青海省“千亿锂电战略”我公司还将根据锂电行业发展态势，择机投资其他锂电产品，打造万吨级锂电材料产业园，为青海省发展“千亿锂电战略”做出贡献。</p>
                        <br>
                        <br>
                        <h2>公司的生产经营原则</h2>
                        <br>
                        <p style="text-align: center;">安全就是生命，责任重于泰山，科技促使进步，质量获得效益，环保取得成就。</p>
                    </div>
                    <div class="tab_content">
                        <div class="bread_crumb"><div class="inner">企业介绍 > 企业介绍</div></div>
                        <img class="content_banner" src="/img/company_desc/gl.png" alt="青海聚之源新材料有限公司"/>
                        <br>
                        <h2>企业建设初衷</h2>
                        <br>
                        <p>为了响应国务院提出关于加快培育和发展战略性新兴产业的号召。推动《青海省千亿元锂电产业发展规划》、《柴达木循环经济试验区“十三五”发展规划》的迅速发展，我公司6000 吨高端六氟磷酸锂项目的建设完全符合国家产业政策及高新技术企业认定的鼓励发展方向；符合柴达木盐湖资源综合开发和锂电材料产业链的发展需求，适应目前锂电新材料市场发展的趋势需要，满足市场对高安全、环保、低廉、长寿命、大容量电池的迫切需求，项目建设十分必要。</p>
                        <br>
                        <br>
                        <h2>发展理念</h2>
                        <br>
                        <div class="idea-icon">
                            <img class="content_banner" src="/img/company_desc/icon1.png" alt="青海聚之源新材料有限公司"/>
                            <img class="content_banner" src="/img/company_desc/icon2.png" alt="青海聚之源新材料有限公司"/>
                            <img class="content_banner" src="/img/company_desc/icon3.png" alt="青海聚之源新材料有限公司"/>
                        </div>
                        <div class="idea-item">
                            <span>技术领先</span>
                            <span>质量可靠</span>
                            <span>用户满意</span>
                        </div>
                        <div class="idea-item">
                            <span>客户至上</span>
                            <span>技术争先</span>
                            <span>团结协作</span>
                            <span>求真务实</span>
                        </div>
                        <div class="idea-item">
                            <span>高质量服务</span>
                            <span>高技术创新</span>
                            <span>高速度发展</span>
                        </div>
                    </div>
                    <div class="tab_content">
                        <div class="bread_crumb"><div class="inner">企业介绍 > 企业规划</div></div>
                        <img class="content_banner" src="/img/company_desc/wh.png" alt="青海聚之源新材料有限公司"/>
                        <h2>公司发展规划</h2>
                        <br>
                        <h3>一、制订战略，明确目标，实现企业可持续发展。</h3>
                        <p>在当前市场经济秩序已经基本建立和完善的大好环境下，根据国家及青海省的中长期宏观经济政策，结合本企业目前的实际情况，必须明确企业发展的近期、中期及远期目标，从而突出各阶段工作的重点。一步一个脚印，使企业能更好的适应市场的变化，避免发展中的大起大落，实现企业可持续健康发展。高起点绘就企业发展蓝图，长远的、具有前瞻性和可操作性的发展战略规划，能够对我们企业的发展起到很好的指导性作用，同时，也能提高企业的凝集力，使员工自觉融身于企业的发展目标中，群策共力。</p>
                        <br>
                        <h3>二、突出主业，多业并举，向多元化发展。</h3>
                        <p>目前甚至将来一段时间，国家特别是我们省的经济增长速度仍会较快，基础设施投资规模较大，为我们赢得了良好的发展机遇，但同时应看到锂电新材料产业受国家的宏观经济政策影响较大，为了提高企业的抗风险能力，有效化解市场风险，在公司的产业发展战略上突出锂电新材料的主营业务，将其做强做大，形成品牌优势，技术先进的锂电行业产业链。</p>
                        <br>
                        <h3>三、基于公司战略及业务发展的情况实行人才战略　</h3>
                        <p>实施人才战略，缓解和消除公司发展的“瓶颈”。公司目前人员面临的主要问题是，有丰富管理经验的技术人才少，独挡一面的人才少，高素质管理人才少，公司要发展，光靠目前的人员显然不够，市场的竞争，实际是人才的竞争，因此，要在做好企业现有人员素质情况调查的基础上，认真分析企业人才结构，根据企业未来发展需要，制定企业培养人才的实施计划。要改变用人观念，大力加强人才的引进和培养，在用好公司现有人才的基础上，对公司目前急缺的靠引进和聘用来解决，同时加强新来大学生的培养力度，做好人才储备。</p>
                        <p>加强公司内部机构设置的设立，根据公司目前的实际情况，加强对公司内的机构设置的建立健全，突出经营和技术管理在公司机构设置中的重要位置，以更有利于公司的市场化经营实行公司规范化管理。 </p>
                        <br>
                        <h3>四、树立品牌意识，加强技术研发投入</h3>
                        <p>公司在一定规模后必须宣传自己、推销自己，恰如其分的宣传造势，会给企业发展带来更多的市场机遇和信息。扩大在本行业、本地区、乃至全国的知名度和影响力，扩大市场占领份额。因此，公司将加大自我包装宣传的力度，积极主动地利用各种合适的媒介和载体，特别是加强建设公司已的网站，相与链接，及时刷新，多一些项目和内容，提高网站的游览量，从而达到宣传自己的目的。</p>
                        <br>
                        <h3>五、申请企业上市。</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer %>
</div>
<script>
    $(document).ready(function() {
       $('.tab_nav_item').click(function() {
           var index = $(this).index();
           $(this).addClass('active').siblings('a').removeClass('active');
           $('.tab_content').removeClass('active').eq(index).addClass('active');
       });
    });
</script>
</body>
</html>