<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="contact-us">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/partner_show" class="menu__item_txt">合作伙伴</a></li>
						<li class="nav__menu_item float-l"><a href="/links" class="menu__item_txt">行业链接</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt active">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_c_us">
				<div class="viewport__content">
					<h1 class="viewport__title">联系我们</h1>
					<div class="contact-way">
						<div class="map">
							<img src="/img/contact_us/map.jpg" alt="青海聚之源新材料有限公司">
						</div>
						<div class="way__detail">
							<div class="way__item way__item_tel">
								<div class="p1">公司电话</div>
								<div class="p2">0977-8229003</div>
							</div>
							<div class="way__item way__item_email">
								<div class="p1">公司邮箱</div>
								<div class="p2">hxr@hxrli.com</div>
							</div>
							<div class="way__item way__item_addr">
								<div class="p1">公司地址</div>
								<div class="p2">青海省海西州德令哈市长江路25号</div>
							</div>
							<div class="way__item way__item_fax">
								<div class="p1">公司传真</div>
								<div class="p2">0977-8299111</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>