<div class="footer">
	<div class="common-w clearfix">
		<div class="float-l">
			<ul class="footer__nav">
				<li><a href="/">首页</a></li>
				<li><a href="/company_desc">企业介绍</a></li>
				<li><a href="/product_show">产品中心</a></li>
				<li><a href="/base">生产基地</a></li>
				<li><a href="/new_center">动态要闻</a></li>
				<li><a href="/recruit">加入我们</a></li>
				<li><a href="/about_us">关于我们</a></li>
				<li><a href="/user_center">管理后台</a></li>
			</ul>
			<p>陕ICP备12010070号-2 版权所有：陕西帝奥电梯有限公司©2015 SHANXI GMDEO ELEVATOR </p>
		</div>
		<a href="/" class="logo float-r"></a>
	</div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/main.js"></script>