<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/simditor/styles/simditor.css"/>
		<% include head %>
	</head>
	<body>
		<div class="recruit_job">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/partner_show" class="menu__item_txt">合作伙伴</a></li>
						<li class="nav__menu_item float-l"><a href="/links" class="menu__item_txt">行业链接</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_side">
						<div class="side_contact">
							<div class="contact_pic"></div>
							<p>滕州市国宁化工有限公司（国宁集团）</p>
							<p>公司联系人 刘经理</p>
							<p>手机：15266297989</p>
							<p>电话：0632-2722338/2722666</p>
							<p>传真：0632-2722338</p>
							<p>邮箱：gm@guoninggroup.cn</p>
							<p>高新部、销售部、销售一部（三氯硫磷）刘经理</p>
							<p>手机：15266297989</p>
							<p>电话：0632-2722338/2722666</p>
							<p>传真：0632-2722338</p>
							<p>邮箱：gm@guoninggroup.cn</p>
							<p>销售二部（亚磷酸）张经理</p>
							<p>手机：13561164937</p>
							<p>电话：0632-2722666</p>
							<p>传真：0632-2722666</p>
							<p>销售三部（2-氯丙酸）秦经理</p>
							<p>手机：13906116156</p>
							<p>销售四部（氯化亚砜）金经理</p>
							<p>手机：13856219672</p>
							<p>销售五部（酰氯系列）孙经理</p>
							<p>手机：13952075288</p>
							<p>地址：山东滕州市界河镇民营工业园1号</p>
						</div>
					</div>
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">招聘列表 > 招聘职位</div></div>
								<h1 class="job_title">总工助理</h1>
								<div class="job_other_info">
									<span>招聘人数：20人  </span>
									<span>发布时间：2016.12.12</span>
								</div>
								<div class="job_duty">
									<div>岗位职责：</div>
									<p>1、协助工程部经理处理设计方案中简单的图纸修改事宜；</p>
									<p>2、负责工程部的日常文书往来；</p>
									<p>3、负责工程部与各往来单位及公司内部其它部门的沟通事宜；</p>
									<p>4、负责各主要涉及工程类会议的会议安排及会议纪要；</p>
									<p>5、辅助工程部总工参与设计的深化结构方案修改；</p>
									<p>6、按照要求完成从方案至施工图设计过程中的相关工作；</p>
									<p>7、负责建筑工程中建筑、结构质量的现场施工管理；</p>
									<p>8、对施工项目的质量、安全、进度、成本进行有效的控制；</p>
									<p>9、对施工过程中出现的问题和突发事件进行分析并做出适当的处理；</p>
									<p>10、工程进度、验收等资料整理归档；</p>
									<p>11、完成上级领导交办的其它工作。</p>
								</div>
								<div class="job_require">
									<div>岗位要求</div>
									<p>1、大专及以上学历，工民建、结构专业或其它相关专业；</p>
									<p>2、熟悉工程建筑设计标准规范和流程；</p>
									<p>3、助理工程师或以上职称；</p>
									<p>4、具有3年土建工作经验，曾独立或参与主要项目施工；</p>
									<p>5、有工程施工、指导及服务经验；</p>
									<p>6、能熟练操作计算机，熟练使用AUTOCAD、Office等相关软件；</p>
									<p>7、良好的概预算能力；</p>
									<p>8、具有较强的沟通和学习能力、团队合</p>
								</div>
								<br>
								<div class="job_pay">
									<div>薪资待遇</div>
									<p>1、试用期为三个月，表现优秀者可申请提前转正。转正后工资由基本工资、岗位工资、工龄工资、全勤奖、通讯补助构成；</p>
									<p>2、公司提供午餐；</p>
									<p>3、带薪休假，每个正式员工法定节假日休假期间按正常工作日工资发放；</p>
									<p>4、为员工提供外出学习、培训机会。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
			<script src="js/recruit.js"></script>
		</div>
	</body>
</html>