<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/simditor/styles/simditor.css"/>
		<% include head %>
	</head>
	<body>
		<div class="new-single-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt active">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/partner_show" class="menu__item_txt">合作伙伴</a></li>
						<li class="nav__menu_item float-l"><a href="/links" class="menu__item_txt">行业链接</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="banner"></div>
			<div class="bread_crumb">
				<a href="/new_center">动态要闻</a>
				<span class="divider">&gt;</span>
				<span>要闻详情</span>
			</div>
			<div class="new-sp__content common-w">
				<h1 class="title"><%= onenew.title %></h1>
				<div class="new__date txt-c"><%- onenew.time.day %></div>
				<div class="new__detail">
					<div class="simditor">
						<div class="simditor-body">
							<%- onenew.post %>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>