<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="new-center">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品中心</a></li>
						<li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt active">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/application_area" class="menu__item_txt">应用领域</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">动态要闻</div></div>
							<% if (news.length == 0) { %>
								<div class="empty">
									<img src="/img/empty.png" alt="青海聚之源新材料有限公司">
									<p>暂无新闻动态</p>
								</div>
							<% } else { %>
								<div class="news-list">
								<% news.forEach(function(one) {%>
									<a class="list-item" href="/new/<%= one._id%>">
										<div  class="sp1"><%= one.title %></div>
										<div class="sp3">
											<span><%= one.time.minute %></span>
											<div class="right">
												<span>查看详情</span>
												<span class="icon icon-right"></span>
											</div>
										</div>
									</a>
								<%})%>
								</div>
								<% include paging %>
							<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>