<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="new-center">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品中心</a></li>
						<li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt active">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_side">
						<div class="side_contact">
							<div class="contact_pic"></div>
							<p>滕州市国宁化工有限公司（国宁集团）</p>
							<p>公司联系人 刘经理</p>
							<p>手机：15266297989</p>
							<p>电话：0632-2722338/2722666</p>
							<p>传真：0632-2722338</p>
							<p>邮箱：gm@guoninggroup.cn</p>
							<p>高新部、销售部、销售一部（三氯硫磷）刘经理</p>
							<p>手机：15266297989</p>
							<p>电话：0632-2722338/2722666</p>
							<p>传真：0632-2722338</p>
							<p>邮箱：gm@guoninggroup.cn</p>
							<p>销售二部（亚磷酸）张经理</p>
							<p>手机：13561164937</p>
							<p>电话：0632-2722666</p>
							<p>传真：0632-2722666</p>
							<p>销售三部（2-氯丙酸）秦经理</p>
							<p>手机：13906116156</p>
							<p>销售四部（氯化亚砜）金经理</p>
							<p>手机：13856219672</p>
							<p>销售五部（酰氯系列）孙经理</p>
							<p>手机：13952075288</p>
							<p>地址：山东滕州市界河镇民营工业园1号</p>
						</div>
					</div>
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">动态要闻</div></div>
								<div class="news-list">
									<a class="list-item" href="#">
										<div  class="sp1">开工仪式</div>
										<div class="sp3">
											<span>2016.11.02</span>
											<div class="right">
												<span>查看详情</span>
												<span class="icon icon-right"></span>
											</div>
										</div>
									</a>
									<a class="list-item" href="#">
										<div  class="sp1">孟海州长阿英得副州长实地调研</div>
										<div class="sp3">
											<span>2016.11.02</span>
											<div class="right">
												<span>查看详情</span>
												<span class="icon icon-right"></span>
											</div>
										</div>
									</a>
									<a class="list-item" href="#">
										<div  class="sp1">领导视察中电工业环境科技园项目</div>
										<div class="sp3">
											<span>2016.10.02</span>
											<div class="right">
												<span>查看详情</span>
												<span class="icon icon-right"></span>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>