<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="product-show">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt active">产品中心</a></li>
						<li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/application_area" class="menu__item_txt">应用领域</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_side">
						<div class="side_tab_nav">
							<a href="javascript:;" class="tab_nav_item active">六氟磷酸锂</a>
							<a href="javascript:;" class="tab_nav_item">氟化氢</a>
							<a href="javascript:;" class="tab_nav_item">氟化锂</a>
						</div>
						<% include side_contact %>
					</div>
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">产品中心 > 六氟磷酸锂</div></div>
								<h1>六氟磷酸锂</h1>
								<div class="product_img"><img src="/img/product_show/1.png" alt="青海聚之源新材料有限公司"/></div>
								<br>
								<br>
								<div class="img_desc">
									<p>化学品中文名称 ：六氟磷酸锂</p>
									<p>CAS NO．：21324-40-3</p>
									<p>分子式： LiPF6</p>
									<p>分子量： 151.91</p>
								</div>
								<br>
								<table>
									<tr>
										<td>外观</td>
										<td>白色晶体或粉末</td>
									</tr>
									<tr>
										<td>物性</td>
										<td>
											<div>气味：无味</div> 
											<div>物理状态：随着特定的温度/温度范围变化 </div>
											<div>熔点：175℃分解，相对密度1.50。潮解性强；易溶于水、还溶于低浓度甲醇、乙醇、丙酮、碳酸酯类等有机溶剂。暴露空气中或加热时分解。暴露空气中或加热时六氟磷酸锂在空气中由于水蒸气的作用而迅速分解，放出 PF5而产生白色烟雾</div></td>
									</tr>
								</table>
							</div>
							<div class="tab_content">
								<div class="bread_crumb"><div class="inner">产品中心 > 氟化氢</div></div>
								<h1>氟化氢</h1>
								<div class="img_desc">
									<p>化学品中文名称： 氟化氢</p>
									<p>化学品英文名称： hydrogen fluride</p>
									<p>技术说明书编码： 937</p>
									<p>CAS No.： 7664-39-3</p>
									<p>分子式： HF</p>
									<p>分子量： 20.01</p>
								</div>
								<br>
								<table>
									<tr>
										<td>外观</td>
										<td>无色晶体</td>
									</tr>
									<tr>
										<td>物性</td>
										<td>
											<div><span>熔点(℃)： -83.7 </span><span>沸点(℃)： 19.5</span></div> 
											<div><span>相对密度(水=1)：1.15</span><span>相对蒸气密度(空气=1)： 1.27 </span></div>
											<div><span>饱和蒸气压(kPa)： 53.32(2.5℃)</span></div>
											<div><span>临界温度(℃)： 188</span><span>临界压力(MPa)： 6.48 </span></div>
										</td>
									</tr>
								</table>
							</div>
							<div class="tab_content">
								<div class="bread_crumb"><div class="inner">产品中心 > 氟化锂</div></div>
								<h1>氟化锂</h1>
								<div class="img_desc">
									<p>化学品中文名称： 氟化锂</p>
									<p>化学品英文名称： lithium fluoride</p>
									<p>技术说明书编码： 2339</p>
									<p>CAS No.： 7789-24-4</p>
									<p>分子式： LiF</p>
									<p>分子量： 25.94</p>
								</div>
								<br>
								<table>
									<tr>
										<td>外观</td>
										<td>白色晶体或粉末</td>
									</tr>
									<tr>
										<td>物性</td>
										<td>
											<div>熔点(℃)： 848 </div> 
											<div>沸点(℃)： 1681 </div>
											<div>饱和蒸气压(kPa)： 0.133(1047℃)</div>
											<div>溶解性： 难溶于水，不溶于醇，溶于酸。 </div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script>
			$(document).ready(function() {
				var $tabNavItem = $('.tab_nav_item');
				var $tabContent = $('.tab_content');
				var hsh = location.hash;
				if (hsh) {
					hsh = hsh.substr(1);
					$tabNavItem.removeClass('active').eq(hsh).addClass('active');
					$tabContent.removeClass('active').eq(hsh).addClass('active');
				}
				$tabNavItem.click(function() {
					var index = $(this).index();
					$(this).addClass('active').siblings('a').removeClass('active');
					$tabContent.removeClass('active').eq(index).addClass('active');
				});
			});
		</script>
	</body>
</html>