<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="product-show">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt active">产品中心</a></li>
						<li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">企业介绍</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_side">
						<div class="side_tab_nav">
							<a href="javascript:;" class="tab_nav_item active">六氟磷酸锂</a>
							<a href="javascript:;" class="tab_nav_item">高性能锂电三元正极材料</a>
							<a href="javascript:;" class="tab_nav_item">无水氟化氢</a>
						</div>
						<% include side_contact %>
					</div>
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">产品中心 > 六氟磷酸锂</div></div>
								<h1>六氟磷酸锂</h1>
								<div class="product_img"><img src="/img/product_show/1.png" alt="青海聚之源新材料有限公司"/></div>
								<p class="img_desc">F6LiP（六氟磷酸锂）白色结晶或粉末 潮解性强</p>
								<br>
								<h2>六氟磷酸锂简介：</h2>
								<p>六氟磷酸锂是电解液成分最重要的组成部分，约占到电解液总成本的50%-60%，占锂电子电池比例的30%，F6LiP≥99.9%。</p>
								<h2>市场地位：</h2>
								<p>氟化工行业中，虽然传统产品同比降幅明显，但高端产品需求增长保持了强劲势头，尤其是六氟磷酸锂产销继续保持良好态势。随着未来新能源领域的持续扩张，六氟磷酸锂望迎来持续爆发。</p>
								<h2>工艺线路及用途：</h2>
								<p>国内工艺线路：</p>
								<p>湿法，该方法是将锂盐溶于无水氢氟酸中形成LiF·HF溶液，然后通入PF5气体进行反应生产六氟磷酸锂结晶。经分离，干燥得到产品。</p>
								<p>干法，该方法是将LiF用无水HF处理，形成多孔LiF,然后通入PF5气体进行反应，从而得到产品。</p>
								<p>溶剂法，该方法是使锂盐与氟磷酸的碱金属盐，铵盐或有机铵盐在有机溶剂中反应，结晶，从而制取六氟磷酸锂产品。</p>
							</div>
							<div class="tab_content">
								<div class="bread_crumb"><div class="inner">产品中心 > 高性能锂电三元正极材料</div></div>
								<h1>高性能锂电三元正极材料</h1>
							</div>
							<div class="tab_content">
								<div class="bread_crumb"><div class="inner">产品中心 > 无水氟化氢</div></div>
								<h1>无水氟化氢</h1>

							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script>
			$(document).ready(function() {
				var $tabNavItem = $('.tab_nav_item');
				var $tabContent = $('.tab_content');
				var hsh = location.hash;
				if (hsh) {
					hsh = hsh.substr(1);
					$tabNavItem.removeClass('active').eq(hsh).addClass('active');
					$tabContent.removeClass('active').eq(hsh).addClass('active');
				}
				$tabNavItem.click(function() {
					var index = $(this).index();
					$(this).addClass('active').siblings('a').removeClass('active');
					$tabContent.removeClass('active').eq(index).addClass('active');
				});
			});
		</script>
	</body>
</html>