<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/simditor/styles/simditor.css"/>
		<% include head %>
	</head>
	<body>
		<div class="recruit">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品中心</a></li>
						<li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">关于我们</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_side">
						<% include side_contact %>
					</div>
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">招聘列表</div></div>

								<!--<div class="jobs-list">-->
									<!--<a class="list-item" href="#">-->
										<!--<div  class="sp1">电梯调试员</div>-->
										<!--<div class="sp2">2</div>-->
										<!--<div class="sp3">-->
											<!--<span>2016.11.02</span>-->
											<!--<div class="right">-->
												<!--<span>查看详情</span>-->
												<!--<span class="icon icon-right"></span>-->
											<!--</div>-->
										<!--</div>-->
									<!--</a>-->
									<!--<a class="list-item" href="#">-->
										<!--<div  class="sp1">商务专员</div>-->
										<!--<div class="sp2">4</div>-->
										<!--<div class="sp3">-->
											<!--<span>2016.11.02</span>-->
											<!--<div class="right">-->
												<!--<span>查看详情</span>-->
												<!--<span class="icon icon-right"></span>-->
											<!--</div>-->
										<!--</div>-->
									<!--</a>-->
									<!--<a class="list-item" href="#">-->
										<!--<div  class="sp1">会计</div>-->
										<!--<div class="sp2">5</div>-->
										<!--<div class="sp3">-->
											<!--<span>2016.10.02</span>-->
											<!--<div class="right">-->
												<!--<span>查看详情</span>-->
												<!--<span class="icon icon-right"></span>-->
											<!--</div>-->
										<!--</div>-->
									<!--</a>-->
								<!--</div>-->
							<% if (jobs.length == 0) { %>
								<div class="empty">
									<img src="/img/empty.png" alt="青海聚之源新材料有限公司">
									<p>暂无招聘信息</p>
								</div>
							<% } else { %>
								<div class="list-head clearfix">
									<div class="sp1"><b>招聘职位</b></div>
									<div class="sp2"><b>招聘人数</b></div>
									<div class="sp3"><b>发布时间</b></div>
								</div>
								<% jobs.forEach(function(job) {%>
								<a class="list-item" href="/job/<%= job._id %>" target="_blank">
									<div  class="sp1"><%= job.title %></div>
									<div class="sp2">2</div>
									<div class="sp3">
										<span><%= job.time.minute %></span>
										<div class="right">
											<span>查看详情</span>
											<span class="icon icon-right"></span>
										</div>
									</div>
								</a>
								<% })%>
							<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
			<script src="js/recruit.js"></script>
		</div>
	</body>
</html>