<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/simditor/styles/simditor.css"/>
		<% include head %>
	</head>
	<body>
		<div class="recruit">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/company_desc" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品中心</a></li>
						<li class="nav__menu_item float-l"><a href="/base" class="menu__item_txt">生产基地</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/application_area" class="menu__item_txt">应用领域</a></li>
					</ul>
				</div>
			</div>
			<div class="common-banner"></div>
			<div class="page-content">
				<div class="common-w clearfix">
					<div class="page_side">
						<div class="side_tab_nav">
                <a href="javascript:;" class="tab_nav_item active">联系我们</a>
                <a href="javascript:;" class="tab_nav_item">招聘信息</a>
            </div>
					</div>
					<div class="page_main">
						<div class="main_tab_contents">
							<div class="tab_content active">
								<div class="bread_crumb"><div class="inner">联系我们</div></div>
								<img class="content_banner" src="/img/recruit/1.png" alt="青海聚之源新材料有限公司"/>
								<div style="text-align: center; font-size:14px; line-height: 2">
									<p><b>青海聚之源材料有限公司</b></p>
									<p><b>电话：0977-8901001   0977-8220776</b></p>
									<p><b>传真：0977-8221712</b></p>
									<p><b>邮箱：qhjzyxcl@jzyxcl.com</b></p>
									<p><b>地址：青海省海西州柴达木循环经济试验区德令哈工业园</b></p>
								</div>
							</div>
							<div class="tab_content">
								<div class="bread_crumb"><div class="inner">招聘信息</div></div>
							<% if (jobs.length == 0) { %>
								<div class="empty">
									<img src="/img/empty.png" alt="青海聚之源新材料有限公司">
									<p>暂无招聘信息</p>
								</div>
							<% } else { %>
								<div class="list-head clearfix">
									<div class="sp1"><b>招聘职位</b></div>
									<div class="sp2"><b>招聘人数</b></div>
									<div class="sp3"><b>发布时间</b></div>
								</div>
								<% jobs.forEach(function(job) {%>
								<a class="list-item" href="/job/<%= job._id %>" target="_blank">
									<div  class="sp1"><%= job.title %></div>
									<div class="sp2">2</div>
									<div class="sp3">
										<span><%= job.time.minute %></span>
										<div class="right">
											<span>查看详情</span>
											<span class="icon icon-right"></span>
										</div>
									</div>
								</a>
								<% })%>
							<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
			<script src="js/recruit.js"></script>
		</div>
		<script>
	    $(document).ready(function() {
	       $('.tab_nav_item').click(function() {
	           var index = $(this).index();
	           $(this).addClass('active').siblings('a').removeClass('active');
	           $('.tab_content').removeClass('active').eq(index).addClass('active');
	       });
	    });
	</script>
	</body>
</html>