<div class="side_contact">
	<div class="contact_pic"></div>
	<p>青海聚之源新材料有限公司</p>
	<p>电话：0977-8901001</p>
	<p>传真：0977-8221712</p>
	<p>邮箱：qhjzyxcl@jzyxcl.com</p>
	<p>地址：青海省海西州柴达木循环经济试验区德令哈工业园</p>
</div>